{% load static %}
<div class="mb-5 text-center">
  <img
    class="mb-3 rounded-circle img-thumbnail shadow-sm"
    src="{% static 'img/author.jpg' %}"
    alt=""
    width="110"
  />
  <h3 class="h4">About me</h3>
  <p class="text-sm text-muted px-sm-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
  </p>
  <img
    class="d-block mx-auto mb-3"
    src="{% static 'img/signature.png' %}"
    alt=""
    width="60"
  />
  <ul class="list-inline text-sm mb-0">
    <li class="list-inline-item">
      <a class="reset-anchor" href="#!"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li class="list-inline-item">
      <a class="reset-anchor" href="#!"><i class="fab fa-twitter"></i></a>
    </li>
    <li class="list-inline-item">
      <a class="reset-anchor" href="#!"><i class="fab fa-instagram"></i></a>
    </li>
    <li class="list-inline-item">
      <a class="reset-anchor" href="#!"><i class="fab fa-youtube"></i></a>
    </li>
    <li class="list-inline-item">
      <a class="reset-anchor" href="#!"><i class="fab fa-vimeo-v"></i></a>
    </li>
  </ul>
</div>
